* {
    margin: 0;
    padding: 0;
}

.nav-uk {
    width: 100%;
    text-align: center;
    background-color: white;
    height: 12vh;
    box-shadow: 0.2px 0.2px 0.2px 0.2px grey;
}

.margin-brand {
    margin-left: 140px;
}

.margin-nav {
    margin-left: 30px;
}

.margin-ul {
    margin-left: 550px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.navbar-nav {
    color: white !important;
}

.navbar-item {
    color: white !important;
}

.navbar-nav:hover {
    color: white;
}

.background-button {
    background-color: #f05454;
    color: silver;
    font-size: 20px;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}

.ukuran-gambar {
    width: 85%;
    height: 350px;
    border-radius: 30px;
}

.font-custom {
    text-align: center;
    color: black;
    font-size: 45px;
    font-style: italic;
}

.number-custom {
    text-align: center;
    color: #f05454;
    font-size: 45px;
    font-style: italic;
}

.span-cus {
    text-align: center;
    color: grey;
    font-size: 20px;
}

.about-title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 35px;
    margin-left: 120px;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
}

.about-content {
    color: grey;
    font-size: 22px;
    margin-left: 120px;
}

.font-price {
    color: rgb(153, 153, 153);
    font-size: 14px;
    text-align: center;
}

.cell-divide-hr {
    width: 85%;
    margin-left: 20px;
}

.card-body {
    height: 94vh;
}

.card-title {
    margin-top: 15px;
}

.page-scroll {
    background-color: #00bfd8;
    color: #00bfd8;
    font-size: 15px;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 50px;
    margin-top: 45px;
    margin-left: 95px;
}

.media-body {
    margin-top: 10px;
}

.button-cus {
    width: 530px !important;
    border-radius: 100px;
    margin-left: -270px;
    background-color: #f05454;
    border: none;
}

.form-custom {
    height: 65px;
    margin-top: 10px;
}

.div-custom {
    background-color: white;
}

.nav a:hover {
    transition: 0.3s;
}

.form-artist {
    text-align: left;
    color: black;
    font-size: 30px;
    font-style: italic;
}

.form-artistk {
    text-align: right;
    color: black;
    font-size: 30px;
    font-style: italic;
}

.about-lineupkiri {
    color: grey;
    font-size: 22px;
    margin-left: 60px;
}

.about-lineupkanan {
    color: grey;
    font-size: 22px;
    margin-right: 60px;
}